[2015-06-10 07:39] Mech7 opened #3 "Zend view does not work standalone"
Or at least is missing required dependencies:

[code]
Fatal error: Class 'Zend\ServiceManager\AbstractPluginManager' not found

The problem runs deeper then just view though now am trying to setup standalone forms and there are some issues with it too.

[2015-06-10 07:43] gianarb commented on #3
:+1: This component suggests `zendframework/zend-servicemanager` and this package is REQUIRED for your implementations..

Why is suggested and not required? :-1: There are a lot of response about this question..

@Mech7 you can try to add `zendframework\zend-servicemanager` in your composer.json.. :)

[2015-06-10 08:00] mtymek commented on #3
Sometime ago I blogged how to make it work standalone: http://mateusztymek.pl/blog/using-standalone-zend-view.
It's a bit quirky, but works.

[2015-06-11 15:06] weierophinney commented on #3
@Mech7 `Zend\View` is not *just* the PHP renderer. It also provides an event-driven view layer (which allows you to specify your own rendering and response strategies), and interfaces for things such as the renderers themselves. If you are doing JSON views, the JsonRenderer requires *no* extra dependencies whatsoever.

Our policy has been to only `require` dependencies that are used by *every* wor

[2015-06-11 15:06] #3 closed

[2015-07-09 09:59] countless-integers opened #6 "ServerUrl helper doesn't work with console requests"
[This line](https://github.com/zendframework/zend-view/blob/master/src/Helper/ServerUrl.php#L59) makes it impossible for the helper to work in console requests made by zend controller tests as this key is not set in cli.

[2015-07-16 17:27] weierophinney commented on #6
Why are you passing boolean `true` to the helper?

TBH, the entire helper is unusable in a console request *unless you seed it with defaults*. The helper defines a number of setter methods you can use in order to do this, and I'd argue it's not the framework's responsibility to seed those values when used under a console request, but the *application developer's*.

(Full disclosure: I've successfu

[2015-07-16 17:27] #6 closed

[2015-07-18 08:43] countless-integers commented on #6
To be honest I just need a way to obtain the full request url, that's why I turned to `serverUrl(true)`. I get it that the domain would have to be set, but the uri part could be generated. `url` helper can generate most of it (with `force_canonical` option), but as far as I know there's no convenient way to tell it reuse query params (same as it can reuse route params).

I'm am unable to find a si

[2015-07-27 11:20] lkainers opened #9 "silent fail on Json::encode Error"
https://github.com/zendframework/zend-view/blob/ef3d64b8815a069c60cf7b9a6de636ee26fc9fe0/src/Renderer/JsonRenderer.php#L151

if json_last_error() != 0 no exception ist thrown

[2015-07-31 19:26] moxoder opened #10 "formCollection() Form/View/Helper"
When designing, I discovered that in view, when I use the helper $ this-> row () through a partial, then the use of the $ this-> collection (), element collection is transferred to the partial row, not korektno, this code after use pfrtial a row and before using the collection must be reset partial.

index.phtml
...
<?php echo $this->formRow($this->form->get('retainImages'), NULL, NULL, 'shop/part

[2015-08-12 07:38] Martin-P commented on #9
Source of the problem is in [`Zend\Json\Json::encode`](https://github.com/zendframework/zend-json/blob/d85e80f75a0585d692633504cad714b943f4c57e/src/Json.php#L99) not in `Zend\View\Renderer\JsonRenderer`.

[2015-09-14 05:46] bogutskyy opened #13 "navigation()->menu() Navigation menu helper"
Sometimes developers want to make customization of menu in the output. For example, add bootstrap or other icon ``<i class="icon-user"></i>`` to menu item. It would be useful to be able to specify a template of menu item, like "{icon} {link} {other_content}", where {link} - ``<a>`` tag, generated in method ``htmlify()``. Content for placeholders can be passed in page params or menu helper params.

[2015-09-14 07:27] bogutskyy commented on #13
Menu items links may be more customizable if tags <a> and </a>  make as different placeholders. Then will be a possibility paste something in link, together with label.
<a href="#">something bebore label  LABEL</a> = {startLink}something bebore label {label}{endLink}

[2015-10-02 08:19] montolio opened #16 "Placeholder View Helper "containerExists" makes no sense"
At the moment the public function containerExists does not have any change to work:

because __invoke checks if a name is set it is impossible to call placeholder()
So to check if a placeholder name exists you have to all call
placeholder('foobar')->containerExists('foobar')

but then the container is created in __invoke and containerExists returns in every case true.

To avoid this placeholder('d

[2015-11-11 21:55] mtymek opened #19 "ZendView 3: Rendering engine simplification"
Seeing that work on ServiceManager and EventManager is progressing, I'd like to start discussing new `Zend\View`.
My goals are to:

1. reduce overall complexity
2. keep as much backwards compatibility as possible
3. add more flexibility, so that Zend\View can be nicely integrated with non-ZF app (or outside of MVC flow).

As a first step, I prepared a proposal for rendering mechanism.

## Responsi

[2015-11-12 21:39] sandrokeil commented on #19
It is possible to remove the magic get/set methods for variables? They are slow and people are forced to check if variables are set. Could avoid Bugs. Another point is the PHPDoc block for variables in the view script, so code completion is available.

This reduces the complexity too.

[2015-12-01 20:39] matbech opened #20 "HeadScript: handle empty type"
The HeadScript view helper should handle an empty type. In HTML5 the type attribute is optional. It would be nice if we can pass an empty type to the append* methods which then results in the type attribute being omitted in the output.

[code]

[2015-12-14 12:48] sasezaki opened #23 "[v3] remove Zend\View\Stream and useStreamWrapper option"
If I don't misunderstood, zf1 Zend_View_Stream was introduced for short_open_tag off environment ,

but `Since PHP 5.4.0, <?= is always available.`
http://php.net/manual/en/ini.core.php#ini.short-open-tag

so I think Zend_View_Stream can be removed since zf3.

[2015-12-14 13:35] gianarb commented on #23
:+1:

[2015-12-15 09:18] hoppithek commented on #19
It would be nice if the ViewManager or View would support rendering outside the MVC lifecycle e.g. for rendering the body of a mail.
The view manager does not expose the functionality to get the configured ViewStategies, and the view does not expose how to get a configured Renderer for a template/ViewModel.
Hooking into the rendering events of the view requires a response to be present when render

[2016-01-20 09:31] GeeH opened #27 "Check All Headers In Documentation"
# Check headers are correct

Check all headers on the documentation - headers should use the hash style of declaration rather then be underlined with equals or dashes. The more hashes, the more of a subheading. Eg:

* ```#``` is equal to ```<h1>```
* ```##``` is equal to ```<h2>```
* ```###``` is equal to ```<h3>```
* ```####``` is equal to ```<h4>```
* ```#####``` is equal to ```<h5>```

Headings

[2016-01-20 09:31] GeeH opened #28 "Check Documentation Code Blocks"
# Check code blocks are correct

Code blocks should be in the following format...

<pre>
[code]
</pre>

Note the three backticks then *php* in the opening fence, and the closing fence is just three backticks. It's common for the opening backticks to have no code type, or something like *source*.

Code should also have been automatically formatted into PSR-2 format, but sometimes these slip through

[2016-01-20 09:31] GeeH opened #29 "Check Documentation For Other Things"
# Check docs for other problems

Things slip through the net, so check the documentation for other problems that have been missed. Common other problems include

* Bullet lists (should be single ```*``` then space at the start of line)
* Inline code - should be marked by three backticks at start and finish
* ```bookdown.json``` file is correctly formated and has the right escaping
* Links between

[2016-01-20 09:31] GeeH opened #30 "Check Documentation Tables"
# Check the tables in a document

Check all tables are in the correct format. Please don't use leading and trailing ```|``` - more information on github flavoured markdown tables can be found [here](https://help.github.com/articles/github-flavored-markdown/#tables).

[2016-01-20 09:31] GeeH opened #31 "Check For Blockquotes In Docs"
# Check the document for bad blockquoutes

Blockquotes are donated by a single greater than character and then a space. Make sure all the blockquotes in every doc file are correctly formatted. Headings in blockquotes should use ```###``` and not bold.

Any paragraph spacing in blockquotes should be marked using a single greater than, then a space.

[2016-01-30 09:11] bogutskyy opened #33 "Improve identity view helper factory"
I have a few problems with an identity view helper [factory](https://github.com/zendframework/zend-view/blob/master/src/Helper/Service/IdentityFactory.php).

[code]
1. First about a retrieving of auth service. Maybe will be better to use [Zend\Authentication\AuthenticationServiceInterface](https://github.com/zendframework/zend-authentication/blob/master/src/AuthenticationServiceInterface.php) inst

[2016-02-17 14:36] rohm1 opened #41 "Wrong mime type for JSONP response"
If I set a JSONP callback to my JSON view model, the returned mime type is `application/json` instead of `application/javascript`. This is due to the JsonStrategy which checks if the JsonRenderer has a JSONP callback to switch the mime type. But the JsonRenderer doesn't have a JSONP callback, only my view model has one.

As a workaround, I now set the callback to the renderer (`$this->getServiceLo

[2016-02-17 14:47] thedava commented on #41
+1

[2016-02-18 04:58] datasage opened #43 "Break with 2.6"
It looks like a change for forward compatibility broke 2.6.

The constructor for HelperPluginManager was updated with the following signature:

`public function __construct(ContainerInterface $container, array $config = [])`

The factory class (AbstractPluginManagerFactory) does not pass in the new required argument

 `$plugins = new $pluginManagerClass;`

[2016-02-18 07:13] Michal-sk commented on #43
Correct. Heres my post in apigility regarding this issue: https://github.com/zfcampus/zf-apigility/issues/155

[2016-02-18 07:58] bacinsky commented on #43
Confirmed, this is not working also:
https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/PluginManager.php#L58
https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation.php#L325

I really appreciate your work, but now it's so frustrating to go with ZF2, BC breaks occurs too often, almost every of my build fails overnight an I cannot continue my work even

[2016-02-18 09:29] samsonasik commented on #43
confirmed it is an issue when use zendframework/zendframework `~2.5.0` as well

[2016-02-18 09:37] samsonasik commented on #43
I temporary add :
[code]
in composer.json

[2016-02-18 10:07] Michal-sk commented on #43
even better

[2016-02-18 10:16] nepda commented on #43
+1

[2016-02-18 10:25] gianarb commented on #43
Yes same problem :+1:

[2016-02-18 10:44] simonbaudry commented on #43
Issue confirmed too.

[2016-02-18 10:46] Atachi commented on #43
+1

[2016-02-18 10:47] bgaillard commented on #43
We also encounter this issue.

[2016-02-18 10:54] gianarb commented on #43
YES guys! :) Thanks for your feedback..
https://twitter.com/GianArb/status/700269646600077312

My suggestion is to add a temporary
[code]
In order to use the old version of Zend\View

[2016-02-18 10:55] gpelly-cf commented on #43
:+1:

[2016-02-18 10:56] justinhogg commented on #43
Having the same issue, pinning to 2.5.2 works for us.

[2016-02-18 11:03] pboxed commented on #43
+1

[2016-02-18 11:39] VitaliyPekov commented on #43
+1

[2016-02-18 11:43] koeaoe commented on #43
+1

[2016-02-18 11:43] wtk13 commented on #43
+1

[2016-02-18 11:50] weierophinney commented on #43
Please stop with the +1's; we're aware of the issue and its widespread effects, and will have a fix out shortly.

[2016-02-18 12:48] #43 closed

[2016-02-18 12:51] weierophinney commented on #43
Fixed in #44, and released with 2.6.1.

[2016-02-18 12:51] price84 commented on #43
:+1:

[2016-02-18 13:48] TRutte opened #45 "Error using $this->navigation('navigation')->breadcrumbs()->setPartial('something')"
Hi, getting the following error using the navigation helper on latest version! Current project is using 2.5.3. After update to latest 2.6.1 for testing I was getting the error.

Argument 1 passed to Zend\\View\\HelperPluginManager::__construct() must implement interface Interop\\Container\\ContainerInterface, none given

Backtrace:
Zend\View\Helper\Navigation\PluginManager::__construct() at Projec

[2016-02-18 13:55] tmcnicholls commented on #45
+1

[2016-02-18 14:03] weierophinney commented on #45
Can you provide the output of `composer info -i`, please? The error you're reporting is true of zend-view 2.6.0, but should not be true in 2.6.1 (as it makes the first argument optional, and includes a test to verify that). If you can provide that output, that will allow me to investigate further.

[2016-02-18 14:06] webimpress commented on #45
Problem is in zend-view/src/Helper/Navigation/PluginManager.php line 58
https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/PluginManager.php#L58

I have the same issue.

[2016-02-18 14:07] tmcnicholls commented on #45
[code]

I have updated `Helper\Navigation\PluginManager.php` locally to have the same signature as has been changed in `HelperPluginManager`, and am now getting the following error instead:

[code]

[2016-02-18 14:18] weierophinney commented on #45
Ah, okay; this has to do with components we haven't updated yet, but which are extending the zend-view `HelperPluginManager`. We'll make a priority of getting those updated. (We cannot roll a fix to zend-view, as it would then break forwards-compatibility with zend-servicemanager v3, which was the whole point of the 2.6 release.)

Until then, pin to `zendframework/zend-view:~2.5.3`. Once we get re

[2016-02-18 14:18] samsonasik commented on #45
I got the following error with Navigation as well, but may little different error:

[code]

[2016-02-18 14:19] weierophinney commented on #45
@samsonasik that's something else entirely; looks like a circular dependency issue. Report it against zend-navigation, please.

[2016-02-18 14:24] bb-drummer commented on #43
Hello!
when I set back to 'dev-master' I get a "Call to a member function has() on null in .../zend-view/src/HelperPluginManager.php on line 312" now... is that related or did I just mess up my ServiceManager again? :D

[2016-02-18 14:24] samsonasik commented on #45
@weierophinney done, created at https://github.com/zendframework/zend-navigation/issues/19

[2016-02-18 14:31] weierophinney commented on #43
@bb-drummer dev-master is the 2.6 series. Please see the latest comments on #43 and #45 for details. tl;dr: for now, please pin zend-view to `~2.5.0`. We need to update a few components that extend zend-view functionality to ensure they all work well together.

[2016-02-18 14:42] webimpress opened #46 "Missing v2 cannonical FQSNs in Zend\View\Helper\Navigation\PluginManager.php (2.6.0 release)"
For backward compatibility we are missing in https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/PluginManager.php#L47-L52 v2 canonical FQCNs:
[code]

as we have in: https://github.com/zendframework/zend-view/blob/master/src/HelperPluginManager.php#L186

(It was noticed by @tmcnicholls in https://github.com/zendframework/zend-view/issues/45#issuecomment-185736440)

[2016-02-18 14:49] bb-drummer commented on #43
oh ok, I am sorry, must have overseen that one O:) +1 you guys rock

[2016-02-18 15:01] andsol commented on #43
+1

[2016-02-18 15:09] weierophinney commented on #46
I'll address this in #47; adding some code for this now.

[2016-02-18 15:14] sergeyzozulya opened #48 "__construct() must implement interface Interop\Container\ContainerInterface"
Same problem as described here: https://github.com/zendframework/zend-view/issues/43 (which is already fixed in 2.6.1)
Now it affects Zend\View\Helper\Navigation\PluginManager
Error: "__construct() must implement interface Interop\Container\ContainerInterface, none given"

[2016-02-18 15:17] gianarb commented on #48
Yes same problem.. Duplicated issue

[2016-02-18 15:19] #48 closed

[2016-02-18 16:31] weierophinney commented on #48
#47 will resolve this; just waiting for confirmation before merging and tagging 2.6.2.

[2016-02-18 16:45] #45 closed

[2016-02-18 16:45] #46 closed

[2016-02-19 10:41] marciodojr opened #49 "Fatal error: Uncaught exception 'Zend\View\Exception\InvalidArgumentException'"
Sorry if I'm posting this in the wrong component issue list but I don't know exactly if the problem is with zend-view or zend-navigation or zend-servicemanager.

With  zend-view 2.6.2 I'm having an error when using navigation with a custom navigation view factory (that extends class Zend\ServiceManager\FactoryInterface). The error does not happen with zend-view ~2.5.0

more explicitly:

[code]

In

[2016-02-19 16:27] weierophinney commented on #49
I've found the issue. We removed the `ServiceLocatorAwareInterface` implementation from the navigation `AbstractHelper`, and added an initializer into the navigation `PluginManager` to handle the injection. Unfortunately, the initializer was incorrect. I'm fixing it now, and will have a patch shortly.

[2016-02-19 16:35] weierophinney commented on #49
@marciodojr Can you test the patch from #50, please, and let me know if it resolves the issue for you?

Thanks!

[2016-02-19 19:29] marciodojr commented on #49
@weierophinney I don't know if I'm applying your patch by the right way but I tested and the error keeps the same (I'm probably doing something wrong). To test your patch I did this: (1) update the zend-view component to version 2.6.2 (2) added this code to my composer.json:

[code]

With composer update I have the following output

[code]

[2016-02-19 20:08] weierophinney commented on #49
@marciodojr Besides adding the repository, you also have to specify the branch within your project; this is usually best done using an alias:

[code]

Then run `composer update zendframework/zend-view`.

[2016-02-19 20:39] marciodojr commented on #49
I reverted the zend-view to 2.6.2 added the require line and ran the update command but the error keeps exactly the same

[code]

[2016-02-19 20:41] weierophinney commented on #49
@marciodojr Just to confirm, after getting the updates containing my patch, you're still seeing an error?

[2016-02-19 20:44] marciodojr commented on #49
Yes, I'm seeing this:

[code]

[2016-02-19 23:09] marciodojr commented on #49
I started a fresh zf2 skeleton application with the minimum necessary to reproduce the error (a little change in composer.json, navigation config in module.config.php, a factory and a echo of the navigation in layout), maybe this can help a little. As before the error does not occur with zend-view  ~2.5.3

https://github.com/marciodojr/zf2-test-navigation-view-factory.git

[2016-02-21 05:28] TwoWholeWorms opened #51 "Updating 2.5.3 to 2.6.2 breaks url() view helper, "No RouteStackInterface instance provided""
About an hour or so ago I did a `composer update` which included an automatic update for this module from 2.5.3 to 2.6.2. After this update was installed, the `url()` view helper fatally stopped working as `null === $this->router`, which caused it to throw `Exception\RuntimeException('No RouteStackInterface instance provided')` from `Zend\View\Helper\Url` at line 54.

Unfortunately, that's all I'v

[2016-02-21 09:46] stefanorg commented on #51
i can confirm, it also happen to me from 2.5.3 to 2.6.2.

[2016-02-22 14:32] weierophinney commented on #49
@marciodojr I think I've finally isolated the issue; the lazy-instantiated `Zend\View\Helper\Navigation\PluginManager` instance was not being injected with the application `ServiceManager`; my previous patch was ensuring the SM was injected correctly in the helper, but a new patch I've added to #50 now ensures that the SM gets pushed into the `PluginManager` instance. Can you do an update and veri

[2016-02-22 15:00] weierophinney commented on #51
I've isolated the issue.

In versions prior to 2.6, we define `$invokableClasses`. To make these forwards compatible with version 3, we split all `$invokableClasses` entries into `$aliases` and `$factories` entries (with the latter using the new `Zend\ServiceManager\Factory\InvokableFactory`). The factory keys are fully qualified class names, while the aliases are the "short" names.

What this mea

[2016-02-22 16:40] weierophinney commented on #51
I have a patch ready at zendframework/zend-mvc#71.

Could one of those of you who are affected by the issue please test? You can do so as follows:

1. Add my repo to your `composer.json`:

[code]

2. Add an override for the zend-mvc dependency to your `composer.json`:

[code]

3. Update your dependencies:

[code]

You should see that composer installs from my repo at that point.

Then let me know

[2016-02-22 18:41] #51 closed

[2016-02-23 03:11] marciodojr commented on #49
@weierophinney Could you please reconfirm that the problem was fixed? I updated zend-view component to 2.6.3 but the error message is still appearing (just the lines changed a little)

[code]

[2016-02-23 14:29] weierophinney commented on #49
@marciodojr Can you try something for me? Change this code:

[code]

to read as follows:

[code]

and let me know if that solves the issue for you? (One of the subtle issues we're noticing during the forwards-compatibility migrations is differences with how aliases work, and I think this might be the last piece of the puzzle.)

[2016-02-23 16:25] marciodojr commented on #49
@weierophinney the navigation finally works thank you very much. And sorry for so many posts =).

[2016-02-23 17:10] Nokser commented on #49
Hi @weierophinney
This fixed work without Servicelocator bugs, but store ACL and role in the proxy helper does not really stand permissions user. Result is this same for all role user.
Thank's

[2016-02-23 17:36] Nokser commented on #49
Hi @weierophinney
This fixed work without Servicelocator bugs, but store ACL and role in the proxy helper does not really stand permissions user. Result is this same for all role user.

Or

If we change navigation helper to 'zendviewhelpernavigation'

[code]

Thank's

[2016-02-23 18:02] weierophinney commented on #49
@Nokser As this issue is marked resolved to the satisfaction of the original reporter, please open a new issue, with the following information:

- Minimum configuration required to duplicate the issue (for the navigation)
- Are you registering a custom Navigation helper factory? If so please provide its contents, and how you're configuring the service manager and/or view helper manager to use it.

[2016-02-23 21:15] marciodojr commented on #49
@weierophinney  well ... @Nokser was right. Acl doesn't filter the navigation menu items anymore. And the reason is (I think it is) the code bellow doesn't have any effect, the factory is never called:

[code]
I tried an exit command in UMS\Factory\NavigationViewFactory and the navigation menu appears (the exit was never executed), in zend-veiw 2.5.3 the exit command blocks the navigation (as expe

[2016-02-23 21:31] weierophinney commented on #49
@marciodojr I'm re-opening the issue.

That said, I spotted an error in your factory, one that can lead to a circular dependency. It's this line here:

[code]

I'd rewrite that factory as follows:

[code]

Now, the trick is to get your factory to be executed in preference to the one in zend-navigation. I missed something earlier: the master branch of zend-navigation actually defines only a factory

[2016-02-23 21:57] marciodojr commented on #49
@weierophinney thanks for the suggestion for my factory and the module.config.php. With theses changes now the navigation and acl really work as expected.

[2016-03-17 15:36] remicollet opened #53 "Failed test with all latest components at version 2.x"
https://github.com/zendframework/zend-navigation/issues/23

This seems "more" a zend-view bug when used with zend-eventmanager 2.6.3

[2016-03-17 16:18] weierophinney commented on #53
I've just tested locally by performing:

[code]

and then executing:

[code]

and finally running the unit tests. The errors do not occur as reported.

I'll try also running tests in a similar fashion against zend-navigation, but in the meantime, closing here, as cannot reproduce.

[2016-03-17 16:18] #53 closed

[2016-03-28 14:05] moxoder commented on #10
Проблема существует

[2016-03-31 18:36] visitek opened #56 "ViewHelperManager configure bug"
ViewHelperManager is special type of ServiceManager. There is problem with flushing instances with configure (SM 3.0). It is needed for still alive applications e.g on ReactPHP
[code]
does not work, because there is plugin validation.

[2016-03-31 19:03] visitek commented on #56
https://github.com/zendframework/zend-servicemanager/issues/107

[2016-03-31 19:03] #56 closed

[2016-04-21 07:49] ThaDafinser commented on #51
Had the same issue.

Solving it without rewrite your own code would require to add the line below with comment
![image](https://cloud.githubusercontent.com/assets/533017/14701519/1b81a848-07a6-11e6-849a-7478ea1df460.png)

To avoid it in the meantime, it's possible to create a own factory with the code from here
![image](https://cloud.githubusercontent.com/assets/533017/14701563/4e9fbf62-07a6-11e6-

[2016-04-21 08:48] ThaDafinser commented on #51
@TwoWholeWorms @stefanorg how you guys solved it?

Also with a similar "hack" like i posted above? Or something elese?

[2016-05-17 01:04] ademarre opened #61 "JsonStrategy should NOT set response charset with application/json"
[code]

JsonStrategy adds the `charset` parameter to the `application/json` content type, which is not compliant with the spec.

https://tools.ietf.org/html/rfc7159#section-11:

The incorrect behavior was introduced here:
zendframework/zendframework#2629
zendframework/zendframework#3483

[2016-05-17 01:41] ademarre opened #62 "JsonStrategy should not set content-transfer-encoding response header"
As of zendframework/zendframework#3483, JsonStrategy adds the `Content-Transfer-Encoding` header when using UTF-16 or UTF-32. I believe doing so is incorrect, as `Content-Transfer-Encoding` is a MIME header, not an HTTP header.

https://tools.ietf.org/html/rfc7231#appendix-A.5:

Apparently the confusion originated with [a comment](https://github.com/zendframework/zendframework/pull/3483#issuecomme

[2016-06-13 09:01] froschdesign commented on #31
Fixed with 6e832c8d9aab332b1c6e166d0144515c84204556

[2016-06-13 09:01] #31 closed

[2016-06-13 09:01] froschdesign commented on #30
Fixed with 6e832c8d9aab332b1c6e166d0144515c84204556

[2016-06-13 09:01] #30 closed

[2016-06-13 09:01] froschdesign commented on #29
Fixed with 6e832c8d9aab332b1c6e166d0144515c84204556 and #59

[2016-06-13 09:01] #29 closed

[2016-06-13 09:01] froschdesign commented on #28
Fixed with 6e832c8d9aab332b1c6e166d0144515c84204556 and #59

[2016-06-13 09:01] #28 closed

[2016-06-13 09:02] froschdesign commented on #27
Fixed with 6e832c8d9aab332b1c6e166d0144515c84204556 and #27

[2016-06-13 09:02] #27 closed

[2016-06-22 11:00] axelcho opened #70 "composer skipped installation message when updating to zend-view 2.8"
I got the following error message:

Skipped installation of bin bin/templatemap_generator.php for package zendframework/zend-view: name conflicts with an existing file

While it does not cause any immediate issue for me, it may need further attention.

[2016-06-22 11:04] axelcho commented on #70
it is a non-issue. It just means that my vendor directory already has templatemap_generator.php.

[2016-06-22 11:04] #70 closed

[2016-06-28 12:18] GeeH opened #72 "[ZF3][RFC] View refactoring"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

___
Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/3935
User: @MatyCZ
Created On: 2013-03-02T15:28:49Z
Updated At: 2014-06-12T10:51:43Z
Body
* Model options is now situated in separated

[2016-06-28 12:44] GeeH opened #73 "Stack with HeadLink helper"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

___
Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7623
User: @EugeneVdovenko
Created On: 2015-09-08T18:39:51Z
Updated At: 2015-11-06T22:21:01Z
Body
I write:
[code]
and I have:
[code]
Th

[2016-06-28 13:29] GeeH opened #74 "Url view helper and controller plugin feature to reuse matched query args"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

___
Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7350
User: @27cm
Created On: 2015-03-20T07:41:10Z
Updated At: 2015-11-06T20:58:33Z
Body
There is no easy way to reuse query arguments v

[2016-06-28 13:52] GeeH opened #75 "Passing variables to JavaScript from a controller"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

___
Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7160
User: @bogdanghervan
Created On: 2015-01-27T02:01:15Z
Updated At: 2015-09-16T12:37:21Z
Body
Often at times in the past I needed to

[2016-06-28 14:17] GeeH opened #76 "Support strict_vars globally in application config"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

___
Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6127
User: @hschletz
Created On: 2014-04-12T18:08:09Z
Updated At: 2016-05-03T10:44:27Z
Body
I want a notice whenever a view template tr

[2016-06-29 10:43] h3d0n15m opened #77 "Wrong namespace used inside FlashMessenger helper"
Since version 3 the FlashMessenger plugin is no longer inside Zend\Mvc\Controller\Plugin namespace but in the FlashMessenger view helper the code is still the following:

**use Zend\Mvc\Controller\Plugin\FlashMessenger as PluginFlashMessenger;**

Changing the code to this makes it work again

**use Zend\Mvc\Plugin\FlashMessenger\FlashMessenger as PluginFlashMessenger;**

[2016-06-30 19:07] Renat123 commented on #77
+1

[2016-06-30 21:59] Rockstar04 commented on #77
This is the same as #78?

There is also more going on here in #79 to more fully correct this.

[2016-06-30 22:29] #77 closed

[2016-07-06 01:51] armenio opened #80 "$this->layout()->setTemplate('layout/admin'); in Controller __construct has no effect"
namespace Admin\Controller;

class IndexController extends AbstractActionController
{
    public function __construct()
    {
        $this->layout()->setTemplate('layout/admin');
    }

[2016-07-06 06:14] FabianKoestring commented on #80
You have to use following...
[code]

[2016-07-06 11:22] weierophinney commented on #80
Plugins will not work from the constructor, as the plugin manager has not yet been injected. Either sweet it in your factory, or wait until the action is called.

[2016-07-06 11:22] #80 closed

[2016-07-06 12:36] armenio commented on #80
As an example would be to do this in my factory?

[2016-07-06 13:26] weierophinney commented on #80
Try this:

[code]

[2016-07-06 14:23] armenio commented on #80
I´m using Zf3 with default factory Zend\ServiceManager\Factory\InvokableFactory

assuming that I create my own factory,

I will have the method __invoke
__invoke(ContainerInterface $container, $requestedName, array $options = null)

With $container ready for use and need only follow with

// Then:
$plugins = $container->get('ControllerPluginManager');

$layout = $plugins->get('layout')->setTemplat

[2016-07-11 14:26] armenio opened #81 "Setting custom layout with ControllerFactory"
With the suggested code by @weierophinney:

[code]

shows this Exception:
`Layout plugin requires a controller that implements InjectApplicationEventInterface`

So, I did a try with this code:

[code]

The Exception does not appear, but the code had no effect

[2016-07-12 10:30] thedava commented on #41
+1

[2016-08-03 10:31] tasmaniski opened #82 "URL helper plugins can't manage "+" character"
The bug is related to https://github.com/zendframework/zendframework/issues/4678 and it's still present.
The problem is that url() helper doesn't translate sign **+** to **%2B**

When I try to generate URL in a view:
[code]
Url helper return  **_/basketball/102/sport+.html_**  but it should be **_/basketball/102/sport%2B.html_**
since [rawurlencode()](http://php.net/manual/en/function.rawurlencode

[2016-08-04 09:32] tasmaniski commented on #82
Maybe good way to bypass the bug without braking old code,
is to add [new key](https://github.com/zendframework/zend-view/blob/master/src/Helper/Url.php#L46) in the $option eg. 'force_percent_encoding'

[code]
Basically, replace chars from [this list] (https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters)

[2016-08-22 16:11] antiphp opened #85 "Invokable view variable shouldn't be invoked"
Hi,

when passing an invokable object to the view and trying to access it, the object is being invoked automatically which may not be intended.

    // Controller action
    public function testAction()
    {
        $viewModel = new ViewModel();
        $viewModel->test = new class {
            public function __invoke(array $params) {}
            public function getName() {
                ret

[2016-08-22 17:48] weierophinney commented on #85
Interestingly, that's a new feature, and it was done to allow defining helpers without requiring implementation of `HelperInterface` (see #60). As such, any such change at this point would be a BC break. We'll have to evaluate if this should be the behavior going forward, or something we want to revert and/or change with the next major version of zend-view.

[2016-08-22 21:27] antiphp commented on #85
But how am I supposed to pass invokable objects then?

In short to show that my situation is not special (at least IMHO): I want to pass a command-like object to the view (ReplaceTranslation) and I want to show a preview of that command output (via its invokable method) as well as its name. I have more commands.

Workarounds I was thinking about:
* pass just the return values of all required metho

[2016-08-28 23:08] pensiero opened #86 "Different templatemap_generator"
Sometimes, when I run composer install, it create in the folder `vendor/bin` a symlink `templatemap_generator.php` that links to `../zendframework/zendframework/bin/templatemap_generator.php`

Sometimes, that file links to `./zendframework/zendframework/bin/pluginmap_generator.php`

What's the criteria and how to choose the last one? (that I think it's the newest one)

[2016-09-05 21:27] wandersonwhcr opened #87 "Gravatar Helper with Attribs Method"
Hi

Conventionally, the method to configure attributes in Zend Framework is `setAttributes`. Gravatar helper uses `setAttribs` and the docs for Gravatar describes the helper with a `setAttributes` method. What is the correct form?

I'm questioning because I'll create a patch for it, dependending of your decision.

[2016-09-14 15:51] jguittard opened #88 "Allow scripts tag to be identified by id attribute"
Using scripts view helper (`headScript` or `inlineScript`), *id* attribute is ignored when generating `scripts` tags.

[code]

Can be useful to target some scripts blocks with an html id attribute

[2016-09-17 22:19] jguittard commented on #88
Allowed by `$this->headScript()->setAllowArbitraryAttributes(true);`

[2016-09-17 22:19] #88 closed

[2016-09-30 21:17] wesperinteractive opened #91 "Problem with navigation view helper (setPartial not working properly)"
Setting the module when calling setPartial has absolutely no effect.

Consider the following code:

[code]

renderPartialModel function (https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/Menu.php#L751) will return the $partialHelper with the following parameters:

return $partialHelper($partial[0], $model); // 'partial/menu.phtml' and $model

If we call the setPartial fu

[2016-10-01 13:44] froschdesign commented on #91
Right, because the `module` option is an obsolete option parameter.

You can specified the module name with the `partial` parameter:

[code]
The same for the partial helper:
[code]

[2016-10-01 14:38] froschdesign commented on #91
#92 removes the `module` option from the DocBlocks.

[2016-10-01 16:53] froschdesign commented on #20
Fixed with #21

[2016-10-01 16:53] #20 closed

[2016-10-01 17:29] froschdesign commented on #13
You can add any HTML elements to a label:

Configuration:
[code]
and in a layout script:
[code]

Or use a [partial script](https://docs.zendframework.com/zend-navigation/helpers/menu/#rendering-a-custom-menu-using-a-partial-view-script) or [pure CSS](https://davidwalsh.name/font-awesome-tags).

[2016-10-01 17:38] froschdesign commented on #13
I think there are enough options to add icons or other elements.

[2016-10-01 17:38] #13 closed

[2016-10-13 19:48] divix1988 opened #93 "Issues with Cycle View Helper docs"
Can someone explain to me what is this: {{{PHP2}}} ?

Also later in the same doc, there is section about:

However in the example there is neither a `prev()` nor `next()` method used.

[code]

How Cycle plugin works then?

[2016-10-14 05:03] froschdesign commented on #93
An error in the rendering of markdown. [Compare with with the source file.](https://github.com/zendframework/zend-view/blob/master/doc/book/helpers/cycle.md)

The same error as above.

[2016-10-27 06:17] bartoszzajac commented on #74
I wrote my own url helper that wraps oryginal helper and adds functionality to reuse query parameters. I need to inject request to get current query
[code]
Couldn't for some reason this be done in oryginal helper?

[2016-11-11 22:36] roelvanduijnhoven commented on #85
Am also having this problem. Had same ideas around workarounds, but all of these feel bad. I reversed engineered that some prior version ZF2 (beta most likely) had a `getRawValue` method which could have helped.

[2016-11-11 22:43] roelvanduijnhoven commented on #85
Though it *does* have some nice properties ;)!

In the end I chose to use the second approach, which was really not a big of a deal.

[2016-11-20 03:28] froschdesign opened #99 "Missing documentation for Escape view helpers"
These helpers needs some explanations and examples:
- `Zend\View\Helper\EscapeCss`
- `Zend\View\Helper\EscapeHtml`
- `Zend\View\Helper\EscapeHtmlAttr`
- `Zend\View\Helper\EscapeJs`
- `Zend\View\Helper\EscapeUrl`

There is only a short notice in the [PhpRenderer section](https://docs.zendframework.com/zend-view/php-renderer/#usage).

[2016-11-20 03:33] froschdesign opened #100 "Missing documentation for Zend\View\Helper\HtmlTag"
The view helper "HtmlTag" needs some explanations and code examples.

https://github.com/zendframework/zend-view/blob/master/src/Helper/HtmlTag.php

[2016-11-20 03:36] froschdesign opened #101 "Missing documentation for Zend\View\Helper\Layout"
The view helper "Layout" needs some explanations and examples.

https://github.com/zendframework/zend-view/blob/master/src/Helper/Layout.php

[2016-11-22 03:56] Sohorev opened #102 "Proposal for a code documentation"
I propose to add the following lines to the 'Renderer/PhpRenderer.php' file
[code]

This will add IDE autocomplete for form helpers

[2016-11-23 08:45] froschdesign commented on #102
It would definitely help, but I see two problems:

- all helpers do not belong to the `Zend\View` component
- if we add the form helpers, we must also add the [i18n helpers](https://github.com/zendframework/zend-i18n/tree/master/src/View/Helper)

Are there any other ideas or suggestions how we can get an IDE support for helpers from other components?

[2016-11-23 08:52] froschdesign commented on #10
@moxoder
Please move this ticket to the issue tracker of `Zend\Form`, because the `formCollection` is not a part of the `Zend\View` component. After moving the ticket, please close this one. Thanks!

(Btw. please write your messages in English)

[2016-11-23 09:43] Sohorev commented on #102
I like the idea to add a description of all the helpers (and  i18n helpers too) to the 'Renderer/PhpRenderer.php' file
I have no other ideas. Now for the my project I made a custom renderer in which he described all the helpers

[2016-11-26 18:39] alextech commented on #102
Agree with @froschdesign. It is also massively misleading, giving impression that the components are already available. I will try to use them, since IDE says they are there, and then get service manager errors about components not existing. This contradictory behavior will not be obvious to solve where the problem is.

It is also a mild problem with custom view helpers.

An off the wall propositi

[2017-01-04 20:24] #10 closed

[2017-02-01 08:29] Ppito opened #105 "ViewEvent Renderer Error ?"
Hello,

Is it possible to implement a new ViewEvent when an error occur in the template view ?
I have made an error handler module (zf3-whhops), but I can only listen errors on MvcEvent and nothing happen when error comes to the view.

[2017-02-01 20:36] Ppito commented on #105
No it's ok, no need new Event. It's just an error of me.

thanks ;)

[2017-02-01 20:36] #105 closed

[2017-02-13 21:48] autowp opened #107 "meta tag attributes escaped with escapeHtml instead of escapeHtmlAttr"
headMeta view helper uses [AbstractStandalone::escape](https://github.com/zendframework/zend-view/blob/master/src/Helper/HeadMeta.php#L261) method where [escapeHtml is used](https://github.com/zendframework/zend-view/blob/master/src/Helper/Placeholder/Container/AbstractStandalone.php#L176) instead of escapeHtmlAttr

Also headLink, headScript and other helpers affected.

[2017-02-14 07:33] v5dii opened #108 "Issues with quick-start.md ( Attach strategy )"
The sample code in 'zendframework/zend-view/doc/book/quick-start.md' on line 635 and 689 :
$view         = $locator->get('Zend\View\View');
$jsonStrategy = $locator->get('ViewJsonStrategy');
$view->getEventManager()->attach($jsonStrategy, 100);

This may be wrong when used in ZendSkeletonApplication 3.0.1.
Fatal error: Uncaught TypeError: Argument 2 passed to Zend\EventManager\EventManager::attach

[2017-02-14 07:46] froschdesign opened #109 "HeadTitle helper documentation is too complicated"
For a basic usage the module class is not needed.

https://docs.zendframework.com/zend-view/helpers/head-title/

[2017-03-16 21:17] dennis-fedco opened #111 "How do I set form helper plugin without HelperConfig?"
I am using a stand-alone PhpRendered, outside of ZF stack.  I used to have the following line working, to render forms:

    echo $this->getRenderer()->form($form);

I would set the `form` and other view plugins with the help of `HelperConfig`.  Without using `HelperConfig` (which has been deprecated), how can I still make the above line work?

Currently I get an error:

The old way to activate fo

[2017-03-31 16:00] dennis-fedco commented on #111
Specifically here is a self-contained example that should be runnable, which uses the deprecated `HelperConfig` to render a form:
https://gist.github.com/dennis-fedco/f620477d3969a0eba4a60ffc09cf630e

I'm still not sure how to rewrite it using modern tech.

[2017-04-21 09:59] porebskk opened #120 "PhpRenderer renders previous content when false is provided"
Hello,

First thanks for this wonderful framework, I appreciate the effort everybody is putting into this project. Today i encounterd an unexpected behaviour. Allthough its not part of PhpRenderers::render signature, the renderer will return the previously generated content when false is provided as $nameOrModel parameter.
I would expect that the renderer is trying to be as stateless as possible.

[2017-04-24 14:58] weierophinney commented on #120
@porebskk Could you at the least create a pull request with a pull request demonstrating the issue? That would then allow us to verify/validate; if you include a fix, that also allows us to validate the fix against the test.

Thanks!

[2017-04-28 20:31] froschdesign commented on #91
Closing: Fixed with #92 and the correct usage of a partial is documented.

[2017-04-28 20:31] #91 closed

[2017-05-02 15:36] wandersonwhcr commented on #102
Phalcon Framework has additional class-empty structures to help IDE with code completion, called "ide-stubs".

https://github.com/phalcon/ide-stubs

We can create, another project, called "zend-view-stubs", or something, to add this feature into IDEs.

[2017-05-02 23:17] Ocramius commented on #102
One thing I did is defining all `@method` declarations in a trait (one per
module). Not nice, but at least I found a use-case for traits 😋

On 2 May 2017 17:36, "Wanderson Camargo" <notifications@github.com> wrote:

[2017-05-03 13:05] wandersonwhcr commented on #102
I don't believe you're telling this, @Ocramius! LOL

[2017-05-26 14:03] SuperDaifuku opened #124 "Child-view gets rendered twice"
I've noticed that my child-view gets rendered twice for some reasons. Here is a simple test-case:

Let's assume I've two controllers, ControllerA and ControllerB. I'm forwarding the action forwardTestAction from ControllerA to ControllerB and display the view returned from ControllerB as a child-view.

ControllerA::forwardTestAction()

[code]

ControllerB::forwardTestAction()

[code]
Template forw

[2017-05-26 14:54] froschdesign commented on #124
@SuperDaifuku

Sorry, but I can not reproduce the problem. No exception thrown.

- zend-view 2.9.0
- zend-i18n 2.7.4

This ends in `false`.

[2017-05-27 09:36] SuperDaifuku commented on #124
@froschdesign I'm using zend-view 2.8.1 and zend-i18n 2.7.3 (zendframework 3.0.0)

It actually doesn't throw an exception but a warning.

I'm 100% sure the child-view template gets rendered twice at least in my case - maybe I should test it on a completely fresh setup.

[2017-06-15 23:15] tekielee commented on #109
I new to contributing to the Zend Framework. Could please provide some instructions/help on how to start with this easy ticket. I have installed the zend-view on my virtualbox. I am reading the source codes right now. Thanks.

[2017-06-16 04:10] froschdesign commented on #109
@tekielee
You find instructions in the [`CONTRIBUTING.md`](https://github.com/zendframework/zend-view/blob/master/CONTRIBUTING.md) file, which is included in every repository.

The documentation should included the basic and simple usage. For example:

And code examples to:

* `append`
* `prepend`
* `setAutoEscape`
* `renderTitle`

[2017-06-16 06:02] tekielee commented on #109
I see just make it simpler and easier to understand. I'll give it a try. Thanks.

[2017-07-20 10:43] coder-pm commented on #82
Same happens with comma, `,` should be encoded into `%2C`.

[2017-07-25 05:25] aft-christophe opened #129 "Bug: Navigation Helper - isAllowed function - ACLlistener is Attached Several Times"
Here is a fun bug for you all.

Everytime you instantiate a new Navigation Helper the the **same**  Listener is attached to the shared Manager once again.

file: [https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/AbstractHelper.php
](https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/AbstractHelper.php
)
[code]

so if you do
[code]

Then the sam

[2017-07-25 05:35] aft-christophe commented on #129
My ugly fix while I wait on a more official solutions is to make sure getUseAcl return false
so that no event is attached
[code]

To do so  I had to create a new Delegator

[code]

And I assign this delegator to the Navigation View Helper

[code]

Basically what it does is when the navigation helper is instantiated,  I fetch the Navigation Plugin Manager and I add an initializers that will disable

[2017-07-28 02:11] aft-christophe commented on #129
Here is my workaround that I absolutely hate

In one of my module I am adding a delegator  at the "navigation" view helper level

[code]

Here is the delegator:

[code]

Because it is a delegator this code is executed before any initializers.
So what it does is

Get the navigation helper
tell him not to use Acl (setUseAcl(false) );
inject the eventManager (and because setAcl is false it means that

[2017-07-28 02:14] aft-christophe commented on #129
Also it would be nice if the the isAllowed function had some kind of caching mechanism at the navigation container level - so it does not have to trigger events over and over if a page has already been accepted before

[2017-08-01 03:22] aft-christophe commented on #129
Another improvement:
Stop the propagation of events listening to the isAllowed event when one returns false.
If one listener returns false it means that the page is not allowed and thus we can safely stop the propagation...

Zend\View\Helper\Navigation\AbstractHelper
[code]

[2017-08-07 07:44] mano87 opened #130 "Slash at the end of a link - Problem with Zend\View\Helper\Url"
Hello,
i have integrated two links into a template as follows.

[code]

And This is my route.

[code]

**Now I have the following problems:**
1. With this configuration the link /education /student-deregistration is always output with a / at the end. This is not work. What can i do?
2. Is there a more elegant way to check the active link?

[2017-08-15 12:55] basz opened #134 "Setting charset in Doctype::XHTML1_RDFA fails"
I'm getting an error when I set the charset on a rdfa document. Is that expected? Or an oversight?

[code]

[code]

Further; following the suggestion in the error gives me an error too.

[code]

[code]

[2017-08-17 07:31] froschdesign commented on #129
@aft-christophe

This will be addressed for version 3 of `zend-navigation`. And also other performance improvements.

Why does `zend-permissions-acl` need to know something from `zend-navigation`? (Do not forget `zend-permissions-rbac`.)

[2017-08-17 21:47] aft-christophe commented on #129
Thank you

That s great.

Ok so because it is related to navigation you want that in the navigation repo - that s fine by me.

We could ask the question the other way around though - why would zend-navigation need to
know something from zend-permissions-acl

Thanks

[2017-08-17 22:34] froschdesign commented on #129
@aft-christophe

I never said that! 😃

Btw. I think, before version 3 we can add some small improvements like stopping the propagation.

[2017-08-21 19:11] samsonasik commented on #134
the source of error seems came from https://github.com/zendframework/zend-view/blob/4d9954c05a3981ca711bd55932dc1d2b55580392/src/Helper/HeadMeta.php#L337-L342

[2017-08-30 02:59] leolicai commented on #124
Yep, I have the same problem.
On the module.php add a dispatch listener.
If a action use forward()->diapatch() to other controller and action(eg: ControllerB::ActionB).
And in the modlue listener, use:
$event->getViewModel()->getTemplate() get the layout.
foreach($event->getViewModel()->getchildren() as $child) {
     Logger::Info($child->getTemplate()); //There can logger ControllerB/ActionB temp

[2017-08-30 06:14] froschdesign commented on #124
@leolicai
This behaviour is correct, because the `MvcEvent::EVENT_DISPATCH` is called again with `$this->forward()->dispatch()`.
You can [detach your listener](https://github.com/zendframework/zend-mvc/blob/master/src/Controller/Plugin/Forward.php#L96) or use a different event. For rendering the event [`MvcEvent::EVENT_RENDER`](https://docs.zendframework.com/zend-mvc/mvc-event/#mvceventevent_rende

[2017-08-30 06:22] froschdesign commented on #124
@SuperDaifuku
I can not reproduce the warning. Please recheck with new versions and see also my previous comment.

Closing due inactivity.

[2017-08-30 06:22] #124 closed

[2017-08-30 06:37] froschdesign commented on #134
@basz

Right, because XHTML has no attribute `charset` for the meta element.
Use the attribute `http-equiv`:

[code]

[2017-08-30 06:41] froschdesign commented on #134
We should add a check or an `Exception` for this case.

[2017-08-30 14:14] samsonasik commented on #134
@basz @froschdesign I've created PR #137 for it.

[2017-08-31 18:37] #134 closed

[2017-09-01 09:33] basz commented on #134
thanks all!

[2017-09-01 10:47] froschdesign commented on #134
@basz
Thanks for reporting! 👍

[2017-09-14 19:20] froschdesign commented on #87
@wandersonwhcr
Sorry for the late response.

It should be `setAttributes`.

We must mark the `setAttribs` method as deprecated and use this method as proxy to the new `setAttributes`.

Good catch! 👍

[2017-09-14 19:25] wandersonwhcr commented on #87
@froschdesign Thanks. I'll create a PR.

[2017-09-14 19:28] froschdesign commented on #81
A listener, which listen on the `Zend\Mvc\MvcEvent::EVENT_RENDER` is a better choice.

Example:
[code]

[2017-09-14 19:34] wandersonwhcr commented on #87
We must call a `trigger_error` with an `E_USER_WARNING` level?

[2017-09-14 19:46] froschdesign commented on #87
Go for it!

[2017-09-14 20:11] froschdesign commented on #102
I also use traits for zend-form and zend-i18n.

@weierophinney
Any comments on this? Can we create these traits in these components?

[2017-09-14 20:21] weierophinney commented on #102
@froschdesign Sure, but the question is: how do these traits then get composed into the `PhpRenderer`? And if they don't, does that mean the developer is then responsible for creating a sub-class that does? What does that mean for the factory that creates a `PhpRenderer` instance for the application?

I think there are still questions to be answered...

[2017-09-14 20:26] froschdesign commented on #102
@weierophinney
At the moment a user must add on every view scripts these lines:

[code]

With the news traits:
[code]
Depending on which components are in use.

[2017-09-14 20:33] weierophinney commented on #102
Oh, I see - the traits go _in the view scripts_.

Yes, go for it! Don't forget to add documentation for this as well, so folks know what they need to do in order to enable these IDE-centric features.

[2017-09-14 20:36] froschdesign commented on #102
@weierophinney

We should add an explanation with a code example in the documentation and also a description in the DocBlock of each trait.

[2017-10-13 07:12] twmobius opened #140 "FlashMessenger translator does not support parameterised string"
The standard format (to my knowledge) of translating a string containing a variable would be:

```<?= sprintf($this->translate(_("Ticket '%s' has been saved"), $ticket->getName()); ?>```

The way FlashMessenger uses the Translator does not allow for such usage, and restricts the user to simple strings.

I extended the View\Helper\FlashMessenger to allow for the translator to ```sprintf()``` parame

[2017-10-13 08:40] froschdesign commented on #140
Not explicitly:

https://github.com/zendframework/zend-mvc-plugin-flashmessenger/blob/843654a029a19c38e0c3b2e940e59edec75c3e4f/src/FlashMessenger.php#L155

[2017-10-13 08:47] twmobius commented on #140
Yes you are right, not explicitly, but in the DocBlock the message is defined as string, which causes my IDE to flip out

[2017-10-13 09:41] froschdesign commented on #140
Sorry, I don't understand your problem.

`_("Ticket '%s' has been saved")` - what is this underscore character?

Why do not use:

[code]

or

[code]

[2017-10-13 10:03] twmobius commented on #140
The ```_()``` notation is a typical gettext notation, which allows gettext (and tools like poedit) to extract the strings from the source code. (See here: https://en.wikipedia.org/wiki/Gettext)

As for the second part of your question:

If I were to directly call the translator on the controller, before passing the string to the FlashMessenger, it would mean that I would have to inject the transla

[2017-10-13 10:08] froschdesign commented on #140
I know Gettext, but this is not the question. Why do you use two translators?

1. `_()`
2. `$translator->translate()`

This irritates me.

[2017-10-13 10:21] froschdesign commented on #111
Use the `ConfigProvider` of zend-form:

[code]

[2017-10-13 10:21] #111 closed

[2017-10-13 10:51] twmobius commented on #140
There aren't two translators anywhere.

The ```_()``` is not a translator. I am just "marking" the strings so that gettext can extract them from the source code, so as to create the .po files required by the translator.

What I want is to pass strings with parameters to the FlashMessenger in sprintf() format, i.e.:

```Ticket **'%s'** has been saved```

as well as the parameters to substitute ```%

[2017-10-22 22:01] bogal opened #141 "JsonViewModel causes double-slash when returning file paths"
As per the title, when setting a variable to the view that contains a file path, the directory separators are escaped resulting in a double-slash in the returned response body (on win 10 running zend server 9). Is there any way to set the view to use the constant JSON_UNESCAPED_SLASHES?

[2017-12-02 20:11] gscscnd commented on #33
See zendframework/zend-mvc-plugin-identity#9

[2018-01-08 12:46] holtkamp opened #145 "RegistryKey of Zend Framework 1 used?"
It seems some ZF1 code is still in the View Helper:

https://github.com/zendframework/zend-view/search?q=regKey

is this on purpose or can it be removed safely?

[2018-01-08 15:26] Xerkus commented on #145
Yep, that is a dead code.

[2018-01-11 09:44] #49 closed

[2018-01-17 21:34] #120 closed

[2018-01-18 08:06] samsonasik commented on #145
@holtkamp I've created #147 for it

[2018-01-18 13:13] holtkamp commented on #145
@samsonasik awesome, did not find time to dive into this 🤔

[2018-02-03 10:35] froschdesign commented on #81
Should be added to documentation as cookbook recipe.

[2018-02-28 14:45] Nirzol opened #148 "ViewModel need ResponseInterface ?"
Hi there.
Sometimes my browser not display error . Just tell me : An error occured during execution; please try again later. No exception.
PHP.ini is well config.

With PhpStorm I try to debug that. Until zend-mvc/src/Application.php the response was catch  but it's a Zend\View\Model\ViewModel and this one not implement ResponseInterface.

So into Application.php (line 336)  $response is not an i

[2018-03-01 10:57] Zebercet opened #149 "PhpRenderer generates warning level log with helpers which accepts reference as parameter"
If we have a view helper which accepts reference as parameter, PhpRenderer generates warning level log as `MyHelper::__invoke() expected to be a reference, value given` at
[PhpRenderer#397](https://github.com/zendframework/zend-view/blob/master/src/Renderer/PhpRenderer.php#L397) line. I guess __call method brokes reference.

[2018-03-01 11:11] froschdesign commented on #149
Quite simple:

1. Do not use a reference as parameter.
2. Do not use the  `__call` method.

Use number one! 😃

[2018-03-01 11:19] froschdesign commented on #149
Please provide a valid use case why the reference is needed and why a simple return value is not an option.
Otherwise we must close this issue as "won't fix".

[2018-03-01 11:26] Ocramius commented on #149
By-ref helpers method support is a giant can of worms that I'd rather not open at all: let's please not go down the rabbit hole there.

Yes, any `callable` should be a valid helper, but by-ref methods will break on basically any kind of function composition, and that is not just in this component, but with PHP in general.

Closing here as `won't fix`.

[2018-03-01 11:26] #149 closed

[2018-03-01 15:26] Nirzol commented on #148
Ok just have to update view > error > index.phtml  /404.phtml  after upgrade to ZF3

[2018-03-01 15:26] #148 closed

[2018-03-26 16:12] 24NITIN opened #150 "sql"
redacted

[2018-03-26 16:14] Ocramius commented on #150
Removed all private info. Please do post here only if you wish to provide a bug report or feature request for `zend-view`.

[2018-03-26 16:14] #150 closed

[2018-04-06 10:59] popovserhii opened #151 "Zend\View\Helper\FlashMessenger isn't compatible with Expressive app"
In our project, we use `Zend\Expressive` as core and `Zend\View` as template engine. And we come across with an issue that `FlashMessenger` only works with `Zend\Mvc\Controller\Plugin\FlashMessenger` or `Zend\Mvc\Plugin\FlashMessenger\FlashMessenger`. None of them is available in Expressive and add dependencies on `Zend\Mvc` isn't a good idea.

There are different *Flash* implementations and will

[2018-04-06 11:00] webimpress commented on #151
@popovserhii Have you seen https://github.com/zendframework/zend-expressive-flash ?

[2018-04-06 11:16] popovserhii commented on #151
@webimpress Yes, but this module isn't working correctly.
The problem is not in [zend-expressive-flash](https://github.com/zendframework/zend-expressive-flash) but in [zend-expressive-session-ext](https://github.com/zendframework/zend-expressive-session-ext).

Аfter `composer require zendframework/zend-expressive-flash` and modifying `config/pipeline.php`, authorization to my admin stops working.

[2018-04-06 18:17] samsonasik commented on #151
the `zend-expressive-flash` should work, I created a blog post about it some time ago https://samsonasik.wordpress.com/2018/02/11/using-view-helper-for-accessing-zend-expressive-flash-messages-in-expressive-3/

[2018-04-19 07:53] porebskk opened #152 "Fluent Interface missing on ConsoleModel::setErrorLevel"
Hello,

contrary to almost all other setter methods on classes that implement the ModelInterface, ConsoleModel::setErrorLevel ist not returning itself when the method is called.
I would assume that it would return `$this`. I'll be adding a test and a simple fix.

Best regards

[2018-04-19 08:04] porebskk commented on #152
I created a PR see #153

[2018-07-20 16:49] samuelnogueira opened #157 "Changing variables in ViewModel clones are propagated"
By default, `\Zend\View\Model\ViewModel::$variables` is a `\Zend\View\Variables` instance.
When cloning an instance of `ViewModel`, if `$variables` property is a reference to an object instead of a native php array, calling `setVariables` on the clone will also change the variables in the original `ViewModel` instance.
This becomes a problem when using `zend-view` as a view renderer in Zend Expres

[2018-08-08 09:27] JorgeBorda opened #161 "Problems in the hosting.... but in my localhorst is working ok"
Dear Friends.....
In my public hosting, I have a subdomain "sigi" in the xxxxxxxx.org website.

I develop that web in local, in my localhost of my PC. and is working OK. no any problems

I copy all files from my localhost to the area of the subdomain of my hosting.....

Some options of my ZF2 aplication are not working…. in the hosting place, but in my PC (my localhost) are working OK

A) the sour

[2018-08-08 09:35] samuelnogueira commented on #161
Are you using Windows in your local dev environment, and Linux on the web server? If so, it could just be a case of fixing the CaSiNg in the template path or name:
The template path `'layout/Application'` can be resolved on Windows because paths are not case sensitive, but can't in Linux because `Application.phtml` file does not exist, but `application.phtml` does.

[2018-08-08 09:41] froschdesign commented on #161
@samuelnogueira's should fix your problem.
But keep in mind, this is an issue tracker. For questions or support please use the [chat](url) or the [forum](https://discourse.zendframework.com/). Thanks!

[2018-08-08 09:41] #161 closed

[2018-08-08 10:29] JorgeBorda commented on #161
thanks  Iwill check

[2018-08-08 10:40] JorgeBorda commented on #161
Yes..... you are write, a lot of thanks.......

[2018-08-10 13:29] thexpand commented on #102
What is the status of this issue?
Are there a pull request associated with this in the other repositories?

[2018-08-10 13:35] froschdesign commented on #102
@thexpand

No, but the label "help wanted" is still present. 😉

[2018-08-10 13:38] thexpand commented on #102
@froschdesign
I will be able to help, but will need your approval.
As far as I understand, we will need a `HelperTrait` trait file in every `Zend\<COMPONENT>\View` namespace that will define all available methods via a `@method` doc block?
Is that correct? If yes, I can make some PRs on the corresponding component repositories.

[2018-08-10 13:50] froschdesign commented on #102
@thexpand
Correct. The DocBlock of the traits should also include an explanation with a code example how it is used.

[2018-08-10 13:50] froschdesign commented on #102
Btw. Thanks in advance. 👍

[2018-08-10 14:03] thexpand commented on #102
@froschdesign
You mean a code example of how the trait is used inside templates?
Such as the second one here: https://github.com/zendframework/zend-view/issues/102#issuecomment-329599118

[2018-08-10 14:10] froschdesign commented on #102
@thexpand

Right, because without any explanation no one knows why these traits are there.

[2018-08-15 07:39] reinfi opened #163 "zend-json required only as dev dependency"
Hey there,

why is zend-json only required as dev dependency, although the JsonModel in this package has a dependency on it?

Could it be moved to normal dependencies?

[2018-08-15 07:51] froschdesign commented on #163
@reinfi
It is only a _soft_ dependency and therefore it is included in the suggest section of the composer file.

https://github.com/zendframework/zend-view/blob/651621d82df0c70664e476481d53fe3b98989a78/composer.json#L53

[2018-08-15 09:15] thexpand commented on #107
It's not that easy to just change the `escapeHtml` with `escapeHtmlAttr`, because `AbstractStandalone::escape()` is used not only for attributes. I think a new method `escapeAttribute` could be introduced and will be used accordingly.

[2018-08-15 10:16] froschdesign commented on #163
I found a problem: the `JsonModel` may be optional, but zend-json is also used in the `Json` view helper and in the `AbstractHtmlElement`:

https://github.com/zendframework/zend-view/blob/master/src/Helper/Json.php
https://github.com/zendframework/zend-view/blob/651621d82df0c70664e476481d53fe3b98989a78/src/Helper/AbstractHtmlElement.php#L79

[2018-08-15 12:50] Ocramius commented on #107
@thexpand I don't understand your comment: why is a new method needed? We know that the meta element always has an attribute with the content.

[2018-08-15 13:08] thexpand commented on #107
@Ocramius Because the `escape` method uses the `escapeHtml`, which is okay for HTML content, but not okay for HTML attributes. That's why I think the `escapeHtmlAttr` needs exposure as a new method.

[2018-08-15 13:29] Ocramius commented on #107
Ah, I understand - needs two escapers :+1:

[2018-08-20 11:04] tworzenieweb opened #165 "Inline CSS always commented by HeadStyle ViewHelper"
It looks like the inline style definition is not correctly printed by HeadStyle view helper.

Considering the following one:

[code]

The whole block will be commented out.

I tried disabling auto escaper but escaping is hardcoded into HeadStyle implementation.

Actually, after a deep look in the code, I don't get why CSS content is always escaped:

[[0]](#0)
[code]

$escapeStart and $escapeEnd ca

[2018-08-20 12:37] froschdesign commented on #165
@tworzenieweb

The comments are used for backward compatibility in old browsers and are ignored by CSS.

But today these comments are obsolete and can be removed without problems.

[2018-09-14 13:24] tcelestino opened #166 "Create <link rel=preload> with headLink() helper"
Is there the possiblity to use `headLink` method for build a `<link rel='preload'...>` tag?  I've been trying use it but it didn't add the proprieties `as=font` and `crossorigin`.

More information about preload: https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content

[2018-09-15 01:03] thomasvargiu commented on #166
Hello @tcelestino

Are you using the last release ([`2.10.0`](https://github.com/zendframework/zend-view/releases))?
Using `as` is allowed since this release with PR #138.

Can you provide an example on how you are trying to use it?

[2018-09-15 13:15] tcelestino commented on #166
@thomasvargiu, the project doesn't use the last release because that is old project. 😢

[code]

Thank for you help.

[2018-11-12 03:59] samsonasik commented on #163
I've created PR #169 for it

[2018-11-12 06:21] #166 closed

[2018-12-06 06:55] unicarevcs opened #172 "PHP 7.3 issue with compact() in HeadLink.php"
Under PHP 7.3 we see the following logged:
PHP Notice:  compact(): Undefined variable: extras in src\Helper\HeadLink.php on line 413

A quick fix replaces lines 408-413 with:
$attributes = compact('rel', 'type', 'href', 'media', 'conditionalStylesheet');

if ($args && is_array($args[0])) {
    $attributes['extras'] = array_shift($args);
}

[2018-12-06 07:17] froschdesign commented on #172
We already have a pull request (#170) for this problem and will be released with the next bugfix release (2.10.1).

[2018-12-06 14:39] Ocramius commented on #172
Closing as `duplicate`

[2018-12-06 14:39] #172 closed

[2018-12-06 17:20] #163 closed

[2018-12-06 17:41] weierophinney commented on #93
@froschdesign So, I wasn't entirely sure I understood what was happening, and just tried rendering... and now I see the problem: it appears that PHP code nested inside quotes is getting replaced with a placeholder — or causing errors.

When I tried with version mkdocs 0.17.3, docs built fine, but had the placeholder replacement.

When I tried with 1.0.4, I got an error: `Config value: 'markdown_ex

[2018-12-06 19:19] froschdesign commented on #87
Fixed with version [2.10.0](https://github.com/zendframework/zend-view/releases/tag/release-2.10.0)

[2018-12-06 19:19] #87 closed

[2018-12-06 19:30] froschdesign commented on #93
@weierophinney
I created a PR (#174) to fix the problem. (Tested with version 1.0.4 of MkDocs.)

[2018-12-06 21:19] #93 closed

[2018-12-06 21:59] weierophinney commented on #152
Fixed with #153

[2018-12-06 21:59] #152 closed

[2018-12-06 22:03] weierophinney commented on #157
Fixed with #158, to release with 2.11.0.

[2018-12-06 22:03] #157 closed

[2018-12-06 23:22] #101 closed

[2018-12-06 23:23] #145 closed

[2018-12-06 23:23] #33 closed

[2018-12-07 09:27] vaclavvanik opened #178 "Require "zend-json": "^2.6.1""
As of version 2.11 zend-json is required. Why is not the constraint like `"zendframework/zend-json": "^2.6.1 || ^3.0"`?

[2018-12-07 09:38] froschdesign commented on #178
@vaclavvanik
Please create a pull request to update the Composer file.

[2018-12-10 16:38] #178 closed

[2018-12-11 14:20] petranek80 opened #180 "HTML-ENTITIES encoding replace UTF-8 in meta tags"
After updating zendframework/zend-view (2.10.0 => 2.11.1) meta tags have HTML-ENTITIES encoding instead of UTF-8

e.g.
<link href="&#x2F;img&#x2F;favicon&#x2F;favicon.ico" rel="shortcut&#x20;icon" type="image&#x2F;vnd.microsoft.icon">

after downgrade to 2.10.0 is back normal, UTF-8 encodings

<link href="/img/favicon/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

[2018-12-11 14:21] Ocramius commented on #180
@petranek80 can you write a test case that demonstrates the regression, please?

[2018-12-11 14:22] petranek80 commented on #180
e.g.
`<link href="&#x2F;img&#x2F;favicon&#x2F;favicon.ico" rel="shortcut&#x20;icon" type="image&#x2F;vnd.microsoft.icon">`

after downgrade to 2.10.0 is back normal, UTF-8 encodings

`<link href="/img/favicon/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">`

[2018-12-11 14:24] Ocramius commented on #180
@petranek80 that's not a problem, since the HTML parser will pick up those characters anyway?

[2018-12-12 00:15] av3 commented on #180
I saw the same as I wanted to check my meta description and OpenGraph information. It's not very easy to read when looking at the source code in the browser. The reason for that behavior is https://github.com/zendframework/zend-view/pull/164/files.

But as you can see there is an option for auto escpaping. I'm now using the following for the output (in my phtml file for the layout:

`<?= $this->he

[2018-12-12 09:59] hummal commented on #180
same here! Not sure it is a problem for search engine crawlers to detect the content properly

[2018-12-12 10:07] froschdesign commented on #180
@av3

Please check the HTML code in the developer tools of your browser.

[2018-12-12 10:17] froschdesign commented on #180
@av3

Can you create a new issue report for this problem? Thanks!

[2018-12-12 10:53] Ocramius commented on #180
Please don't do that, unless you are 100% sure that none of the `headLink()` parameters are information coming from outside your organisation (databases with stored information count as external data).

[2018-12-12 10:54] Ocramius commented on #180
Crawlers are based on the parsed HTML structure, not on the raw strings: not affected.

[2018-12-18 11:46] lexxur commented on #180
OK we should downgrade zend-view now.

Thanx

[2019-01-11 07:38] DennisDobslaf commented on #180
If your ie is set to compatibility mode and you want to send
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
via Zend\View\Helper\HeadMeta like
$headMeta->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
this will lead to the (correct) escaped string
<meta http-equiv="X-UA-Compatible" content="IE&#x3D;edge">
But IE will now fall back to IE 7 Mode (in my case) and because of that, could not fi

[2019-01-11 07:58] froschdesign commented on #180
@DennisDobslaf

I can confirm this behaviour in IE11. The following content doesn't work:

`<meta http-equiv="X-UA-Compatible" content="IE&#x3D;EmulateIE7">`

And this works:

`<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">`

[2019-02-08 15:38] Slamdunk commented on #180
@DennisDobslaf  I can confirm the bad behaviour or `X-UA-Compatible`.
Our code:
[code]
Before the update the output was:
[code]
After the update the output is:
[code]
Althought the latter may be the correct form of representing this tag (with https://github.com/zendframework/zend-escaper/blob/master/src/Escaper.php#L231 according to https://www.owasp.org/index.php/XSS_(Cross_Site_Scripting)_Preven

[2019-02-14 10:44] vitorloureiro opened #183 "Using Zend-view with PHP STAN"
Currently i am using the zend view in my project and i notice a very small problem with the docblock of the \Zend\View\Model\ViewModel class constructor.
Where it says @param  null|array|Traversable $variables should be @param  null|array|Traversable|ArrayAccess $variables

In the same constructor if no $variables is provider the constructor initializes it with one instance of arrayAccess.

[2019-02-19 17:41] weierophinney commented on #180
Fixed with #182, and version 2.11.2.

[2019-02-19 17:41] #180 closed

[2019-08-14 14:25] dennybrandes commented on #183
Yes, you are right, cause method setVariables, which is called, also define ArrayAccess in DocBlock

[2019-08-23 15:02] TheDutchCoder opened #191 "Viewhelper returns empty string when asking for a route defined as Method with verb 'post'"
I have a route defined as follows:
[code]

However the URL Viewhelper is not able to echo that route at all:
[code]

If I change my route to a `Literal`, or `Segment`, it works fine, but not when defined as a `Method`.

Maybe there's a reason for this, but it's incredibly annoying when building forms (which require and `action` URL, but the URL itself should only accept posts).

[2019-08-23 15:31] TheDutchCoder commented on #191
Apparently `Method` doesn't use route names at all. Will find another way.

[2019-08-23 15:31] #191 closed

[2019-09-07 07:52] #100 closed

[2019-09-18 16:03] TheDutchCoder opened #193 "Allow modern attributes on script tags"
The `inlineScript` helper doesn't allow custom attributes to be used on script tags. This is a pretty major inconvenience, as things like `nomodule` are required when building sites that support both legacy and more modern JavaScript.

Example:
[code]

Should result in:
[code]

Instead, it currently results in:
[code]

In addition, the `type="text/javascript"` is no longer something that should be

[2019-09-18 16:07] #193 closed

[2019-09-18 16:08] TheDutchCoder commented on #193
[code]

seems to sort of allow this (doesn't do proper boolean casting, but it'll do).

[2019-09-20 13:07] #81 closed

[2019-10-02 16:16] jbh opened #194 "[BUG]"
When using HTTPS with a port other than 443, the `self` links returned remain HTTP.

Please see: https://github.com/zendframework/zend-view/blob/master/src/Helper/ServerUrl.php#L149

There are plenty of use cases where people will use ports other than 443 for their HTTPS needs. I believe this needs to be refactored to be less strict.

I'm happy to make the PR contribution, but I wanted to submit t

[2019-10-02 16:29] weierophinney commented on #194
:+1: for a PR for this!

[2019-10-02 16:34] jbh commented on #194
Great. I'll work on doing that within the next two days. I have some other tasks in queue.

[2019-10-10 14:18] #109 closed

[2019-10-10 14:22] #99 closed

[2019-12-03 21:37] zerocrates opened #202 "PHP 7.4: passing ArrayObject to $view->partial() no longer works"
Passing an ArrayObject as the `$values` parameter to the `partial` view helper no longer works in PHP 7.4 and zend-view 2.11.3.

The issue is that the Partial class internally uses `get_object_vars` to handle passed objects that don't have a `toArray` method:

[code]

In PHP < 7.4, this gets you he wrapped array, but in PHP 7.4 `get_object_vars` now returns only the direct properties of an ArrayOb

[2019-12-03 21:45] michalbundyra commented on #202
Ref: https://www.php.net/manual/en/migration74.incompatible.php#migration74.incompatible.spl

[2019-12-04 08:37] #202 closed

[2019-12-04 08:38] michalbundyra commented on #202
Thanks, @zerocrates! I am going to release 2.11.4 with the hotfix shortly!

[2019-12-31 22:35] weierophinney commented on #194
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/3.

[2019-12-31 22:35] weierophinney commented on #183
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/5.

[2019-12-31 22:35] weierophinney commented on #165
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/6.

[2019-12-31 22:35] weierophinney commented on #151
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/8.

[2019-12-31 22:35] weierophinney commented on #141
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/9.

[2019-12-31 22:35] weierophinney commented on #140
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/10.

[2019-12-31 22:35] weierophinney commented on #130
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/11.

[2019-12-31 22:36] weierophinney commented on #129
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/12.

[2019-12-31 22:36] weierophinney commented on #102
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/15.

[2019-12-31 22:36] weierophinney commented on #86
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/17.

[2019-12-31 22:36] weierophinney commented on #85
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/18.

[2019-12-31 22:36] weierophinney commented on #82
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/19.

[2019-12-31 22:36] weierophinney commented on #76
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/20.

[2019-12-31 22:36] weierophinney commented on #75
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/21.

[2019-12-31 22:36] weierophinney commented on #74
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/22.

[2019-12-31 22:36] weierophinney commented on #73
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/23.

[2019-12-31 22:36] weierophinney commented on #72
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/24.

[2019-12-31 22:36] weierophinney commented on #62
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/25.

[2019-12-31 22:37] weierophinney commented on #61
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/26.

[2019-12-31 22:37] weierophinney commented on #41
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/27.

[2019-12-31 22:37] weierophinney commented on #23
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/29.

[2019-12-31 22:37] weierophinney commented on #19
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/30.

[2020-01-15 19:17] michalbundyra commented on #16
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/32.

[2020-01-15 19:18] michalbundyra commented on #9
This repository has been closed and moved to laminas/laminas-view; a new issue has been opened at https://github.com/laminas/laminas-view/issues/33.